body {
    background-color: white;
    font-family: Arial, sans-serif;
}

header {
    height: 220px;
    background-color: white;
    border-bottom: 2px solid #ccc;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 3;
}

.logo img {
    height: 200px;
    width: auto;
}

.user-avatar img {
    height: 110px;
    width: auto;
    padding: 5%;
    padding-right: 10px;
}

.header-main-text {
    font-family: 'Roboto', Arial, sans-serif;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px); /* Full viewport height minus header height */
    padding: 20px;
}

table {
    justify-content: center;
}

h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #333;
}

p {
    font-size: 1.2rem;
    color: #666;
}

.styled-table {
    width: 100%;
    border-collapse: collapse; /* Ensure borders don't double up */
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table thead tr {
    background-color: #007bff; /* Header background color */
    color: #ffffff; /* Header text color */
    text-align: left;
}

.styled-table th, .styled-table td {
    border: 1px solid #dddddd; /* Cell borders */
    padding: 12px 15px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; /* Zebra striping */
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1; /* Hover effect */
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd; /* Bottom border for rows */
}

.styled-table th:first-child,
.styled-table td:first-child {
    width: 220px; /* Set the desired width for the leftmost column */
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
    }
    
    .logo img {
        height: 100px;
        width: auto;
    }
    
    .user-avatar img {
        height: 55px;
        width: auto;
        padding-right: 0;
    }

    .main-content {
        background-color: white;
        display:  flex;
        justify-content: space-between;
        align-items: center;
        padding: 3;
        flex-direction: column;
    }

}